raw_data/*
!raw_data/PUT_DISCRUB_EXPORT_HERE
formatted_data/*
!formatted_data/.gitkeep
cleaned_data/*
!cleaned_data/.gitkeep
user_transcripts/*
!user_transcripts/.gitkeep
final_data/*
!final_data/.gitkeep